<% content_for :particles do %>
  <%= stylesheet_link_tag "particles" %>
<% end %>

<canvas class="playground h-[80vh] canvas1">
  <h1 class="text-4xl">Particles</h1>
</canvas>

<% content_for :particles do %>
  <%= javascript_include_tag "particles.js" %>
<% end %>