<aside style="height: 70vh; border-radius: 10px; margin-top: 20px;"> 
<!--    <div> <div class="reviewsname"><img src="static/img/pics/av_v_leit.png" alt=""><h6 >Victoria Leit</h6></div><p>Les recomiendo al profe mas datero del condado!</p></div>
    <div> <div class="reviewsname"><img src="static/img/pics/av_j_amar.png" alt=""><h6 >Juan Ignacio Amar</h6></div><p>Un maestro de los sintes! El mejor profe de audio</p></div>
    <div> <div class="reviewsname"><img src="static/img/pics/av_j_palmares.png" alt=""><h6 >Jesús Palmares</h6></div><p>Necesitas unas clases profesionales de producción? Toda la buena onda y el conocimiento en Anfibio.Clases</p></div>
    <div> <div class="reviewsname"><img src="static/img/pics/av_m_perez.png" alt=""><h6 >Marianela Pérez Salerno</h6></div><p>Anfibio son las clases espectalares de Mauricio Heller. Uso y recomiendo, aprendo a escuchar, mezclar y grabar con este simpático sujeto, que es tan amorosx como excelente docente</p></div>
    
-->
 <%= render @comments%>
 <div><%= link_to "Deja tu comentario", new_comment_path, class:'nav-link pl-6 text-gray-500'%></div>
</aside>