<header>    
    <div class="titlebar">
        <a href="index.html">
            <%= image_tag "general/logo_navbar.svg", class: "logo"%>
        </a>
        <button type="button" class="lang">
            <div>ES</div>
        </button>
    </div>   
    <nav class="navbar" style="margin-top: 2pt;">
        <ul>
            <li><a href="index.html"><div>Intro</div></a> <!-- this is old code, forgiv plz -->
            <li><a href="not_available.html"><div style="color: gray;">Cursos</div></a>
            <li><a href="nothing_here.html"><div style="color: gray;">Novedades</div></a>
            <li><a href="about.html"><div>Info</div></a>
        </ul>    
    </nav>
</header>