<main>
<article> 
    <h1 class="text-2xl">Hola!</h1>
    <h2 class="text-2xl">Tenemos algo para tí</h2>
    <div class="container flex justify-center"><%= image_tag "general/rana.svg", class: "centerimg ", style: "height: 300px;"%></div>
    <h3 class="title text-2xl">En anfibio creemos que la música<br>nace de la unión entre el alma y el instrumento,<br>entre el humano y la máquina</h3>
    <br>
    <h3 class="subtitle text-xl">nuestro plan de estudios que te ayudará a entender profundamente las tecnologías musicales de hoy y a integrar herramientas digitales como parte de tu paleta sonora</h3>
</article>
    <%= render 'home/comment_section'%>
</main>