<main>
<article> 
    <h1>Hola!</h1>
    <h2>Tenemos algo para tí</h2>
    <div><%= image_tag "general/rana.svg", class: "centerimg", style: "height: 300px;"%></div>
    <h3 class="title">En anfibio creemos que la música<br>nace de la unión entre el alma y el instrumento,<br>entre el humano y la máquina</h3>
    <br>
    <h3 class="subtitle">nuestro plan de estudios que te ayudará a entender profundamente las tecnologías musicales de hoy y a integrar herramientas digitales como parte de tu paleta sonora</h3>
</article>
<aside style="height: 70vh; border-radius: 10px; margin-top: 20px;"> 
<div><%= link_to "text", users_path, class:'nav-link' %></div>
    <div> <div class="reviewsname"><img src="static/img/pics/av_v_leit.png" alt=""><h6 >Victoria Leit</h6></div><p>Les recomiendo al profe mas datero del condado!</p></div>
    <div> <div class="reviewsname"><img src="static/img/pics/av_f_bolajuzon.png" alt=""><h6 >Francisco Bolajuzón</h6></div><p>Data y didáctica. Más que recomendadas estas clases, no importa cual sea tu punto de partida.</p></div>
    <div> <div class="reviewsname"><img src="static/img/pics/av_j_amar.png" alt=""><h6 >Juan Ignacio Amar</h6></div><p>Un maestro de los sintes! El mejor profe de audio</p></div>
    <div> <div class="reviewsname"><img src="static/img/pics/av_j_palmares.png" alt=""><h6 >Jesús Palmares</h6></div><p>Necesitas unas clases profesionales de producción? Toda la buena onda y el conocimiento en Anfibio.Clases</p></div>
    <div> <div class="reviewsname"><img src="static/img/pics/av_m_perez.png" alt=""><h6 >Marianela Pérez Salerno</h6></div><p>Anfibio son las clases espectalares de Mauricio Heller. Uso y recomiendo, aprendo a escuchar, mezclar y grabar con este simpático sujeto, que es tan amorosx como excelente docente</p></div>
</aside>
</main>