<main>
    <article style="flex: 1; overflow-y: unset;"> 
        <h2 style="font-size:x-large">This service is not available yet</h2>
        <h3 style="font-size:large">We are working on it</h3>
        <div class="flex justify-center"><%= image_tag "general/misc/workinprogress.svg", class:"centerimg", style:"height: 650px; margin-top: -50px; margin-bottom: -50px;"%></div>            
    </article>
</main>